[Unit]
Description=HA Linux Companion (Electron)
After=network-online.target avahi-daemon.service systemd-user-sessions.service graphical.target
Wants=network-online.target

[Service]
Type=simple
User=@@USER@@
Environment=DISPLAY=@@DISPLAY@@
Environment=XDG_RUNTIME_DIR=/run/user/@@UID@@
@@WAYLAND_ENV@@
WorkingDirectory=@@WORKDIR@@
@@EXEC_START_PRE@@
ExecStart=@@WORKDIR@@/node_modules/electron/dist/electron . @@ELECTRON_FLAGS@@
Restart=on-failure
RestartSec=5

[Install]
WantedBy=@@WANTED_BY@@
